h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}
body {
  background-color: aliceblue;
}
.button-div {
  width: 100%;
      text-align:center;
}
#download-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make the page take up at least the full viewport height */
}
.content-wrap {
    flex: 1; /* Allow the content to grow and take up available space */
}
footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
